# Dependencies
node_modules/

# Environment
.env

# Build artifacts
dist/
build/
artifacts/
cache/

# Hardhat
typechain/
typechain-types/

# Coverage
coverage/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
